.vs/DesignPatterns/FileContentIndex
.vs/DesignPatterns/v17
FactoryMethod/.vs/FactoryMethod.csproj.dtbcache.json
*.cache
FactoryMethod/obj/Debug/FactoryMethod.csproj.FileListAbsolute.txt
FactoryMethod/obj
.vs/DesignPatterns/v17
.vs
