.vs/DesignPatterns/FileContentIndex
.vs/DesignPatterns/v17
FactoryMethod/.vs/FactoryMethod.csproj.dtbcache.json
*.cache
FactoryMethod/obj/Debug/FactoryMethod.csproj.FileListAbsolute.txt
FactoryMethod/obj
.vs/DesignPatterns/v17
.vs
AbstractFactory/obj
AbstractFactory/bin
Builder/bin
Builder/obj/Debug/net8.0-windows8.0
Builder/obj
Adapter/bin
Adapter/obj
Bridge/bin
Bridge/obj
ChainOfResponsability/obj
ChainOfResponsability/bin
